:root {
  --darkCyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  --ffMain: 'Montserrat', sans-serif;
  --ffHeading: 'Fraunces', serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--cream);
}

p {
  font-size: 0.875rem;
}

.content {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  flex-shrink: 0;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  max-width: 343px;
}

.cardImg {
  max-width: 100%;
}

.cardCategory {
  margin: 24px;
  font-family: var(--ffMain);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--darkGrayishBlue);
}

.cardHeading {
  margin: 24px;
  font-family: var(--ffHeading);
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
  color: var(--veryDarkBlue);
}

.cardDescription {
  margin: 24px;
  font-family: var(--ffMain);
  font-style: normal;
  font-weight: 500;
  line-height: 164%;
  color: var(--darkGrayishBlue);
}

.cardSalePrice {
  margin-left: 24px;
  display: inline-block;
  vertical-align: middle;
  font-family: var(--ffHeading);
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
  color: var(--darkCyan);
}

.cardOrigPrice {
  margin-left: 24px;
  display: inline-block;
  vertical-align: middle;
  font-family: var(--ffMain);
  font-style: normal;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 177%;
  text-decoration-line: line-through;
  color: var(--darkGrayishBlue);
}

.cardButton {
  display: block;
  margin: 24px;
  width: calc(100% - 48px);
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: var(--darkCyan);
  font-family: var(--ffMain);
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  color: var(--white);
}

.cardButton img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 585px) {
  .card {
    flex-direction: row;
    max-width: 600px;
  }

  .cardImg {
    width: 100%;
    max-width: 300px;
    flex: 50% 1 1;
  }

  .cardContent {
    min-width: 240px;
    flex: 50% 1 1;
  }
}
