:root {
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --ffMain: font-family: 'Montserrat', sans-serif;
    --ffHeading: font-family: 'Fraunces', serif;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--cream);
}
.content {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  flex-shrink: 0;
}

.card {
    background-color: var(--white);
    width: 343px;
}

.cardImg {
    max-width: 100%;
}

p {
    font-size: .875rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


